# standard, generated and temporary folders #
################
/bin/
/target/
/archive/
/save/
/fsh-generated/
/input-cache/
/temp/
/output/
/template/

# generated Jira Spec file #
################
FHIR-v2mappings.xml

# Eclipse settings #
################
.settings
