<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn">
    <Property name="basePath" value="/logs" />
    <Property name="pattern"
        value="[%-5level] %d{yyyy-MM-dd'T'HH:mm:ss.SSSXXX} [%t] %c{1} - %msg%n%xEx"/>
    <Property name="timelessPattern"
        value="[%-5level] [%t] %c{1} - %msg%n%xEx"/>
    <!-- [%-5level] %d{yyyy-MM-dd'T'HH:mm:ss.SSSXXX} [%t] %c{1} - %msg%n -->
    <Appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${basePath}/${name}.log</File>
        <Param name="Append" value="false" />
        <Encoder>
            <pattern>${pattern}</pattern>
        </Encoder>
        <RollingPolicy
            class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- daily rollover with zip -->
            <fileNamePattern>${basePath}/%d{yyyy-MM, aux}/${name}.%d{yyyy-MM-dd}.log.zip</fileNamePattern>
            <!-- keep 30 days' worth of history capped at 3GB total size -->
            <maxHistory>30</maxHistory>
            <totalSizeCap>3GB</totalSizeCap>
        </RollingPolicy>
    </Appender>
    <Appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <Encoder>
            <pattern>${pattern}</pattern>
        </Encoder>
    </Appender>
    <!--  The following appender is for use only during testing -->
    <Appender name="testing" class="ch.qos.logback.classic.sift.SiftingAppender">
        <!-- in the absence of the class attribute, it is assumed that the
             desired discriminator type is
             ch.qos.logback.classic.sift.MDCBasedDiscriminator -->
        <discriminator>
          <key>testfile</key>
          <defaultValue>unknown</defaultValue>
        </discriminator>
        <sift>
          <appender name="FILE-${testfile}" class="ch.qos.logback.core.FileAppender">
            <file>./target/test-output/${testfile}.log</file>
            <append>false</append>
            <layout class="ch.qos.logback.classic.PatternLayout">
              <!--  We use a pattern without a timestamp to enable comparison of log outputs  -->
              <pattern>${timelessPattern}</pattern>
            </layout>
          </appender>
        </sift>
    </Appender>
    <logger name="ch.qos.logback" level="error"/>
    <logger name="org.hibernate" level="error" />
    <logger name="org.jboss" level="error" />
    <logger name="ca.uhn" level="warn" />
    <logger name="org.apache" level="warn" />
    <logger name="org.springframework" level="warn" />
    <logger name="com.helger" level="warn"/>
    <logger name="io.restassured" level="info"/>
    <logger name="ca.uhn.hl7v2.parser" level="info"/>
    <!-- Change root level to info for production -->
    <Root level="debug" additivity="false">
        <appender-ref ref="console" />
        <appender-ref ref="file" />
        <!-- Comment out the following line for production use -->
        <appender-ref ref="testing"/>
    </Root>
</Configuration>

